# Basic R

## 12. Now it's your turn

**Task A** 

1. Create a numeric vector called `participants`, containing integer numbers from 1 to 20, using `c()` and `seq()`.
2. Create a character vector called `conditions`, of length 20, containing alternating values of "a" and "b" ("a", "b", "a", "b", "a", ...), using `rep()`.
3. Create a vector called `first_half`, containing only the first half of the `participants` vector's values.
4. Check that both `participants` and `conditions` have length 20, and that `first_half` has length 10, using `length()`.
5. Instead of the fifth element in `conditions`, insert a missing value. Print the `conditions` after the change.
6. Create a vector called `participants_cond`, by pasting together (using `paste()`) `participants` and `conditions`, separated by `_`. So, the first element should be "1_a". 
7. Check that the 5th element of participants_cond is still a missing value.

In [22]:
# task A1
participants = c(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
participants = seq(from=1, to=20)

In [23]:
# task A2
x = c("a", "b")
conditions = rep(x, times=10, each=1)

In [24]:
# task A3
first_half = participants[1:10]

In [25]:
# task A4
length(participants)
length(conditions)
length(first_half)

[1] 20

[1] 20

[1] 10

In [26]:
# task A5
conditions[5] = NA
conditions

 [1] "a" "b" "a" "b" NA  "b" "a" "b" "a" "b" "a" "b" "a" "b" "a" "b" "a" "b" "a"
[20] "b"

In [29]:
# task A6
participants_cond = paste(participants, conditions, sep="_")
participants_cond

 [1] "1_a"  "2_b"  "3_a"  "4_b"  "5_NA" "6_b"  "7_a"  "8_b"  "9_a"  "10_b"
[11] "11_a" "12_b" "13_a" "14_b" "15_a" "16_b" "17_a" "18_b" "19_a" "20_b"

In [36]:
# task A7
participants_cond[5] = NA

In [40]:
participants_cond[is.na(conditions)] = NA

In [41]:
participants_cond

 [1] "1_a"  "2_b"  "3_a"  "4_b"  NA     "6_b"  "7_a"  "8_b"  "9_a"  "10_b"
[11] "11_a" "12_b" "13_a" "14_b" "15_a" "16_b" "17_a" "18_b" "19_a" "20_b"

**Task B**

1. Create a data frame called `my_data`, with as columns the vectors`participants`, `conditions` and `participants_cond` that you created before. Print the data frame to have a look if it worked.
2. Add a column called `response_times` made of 20 samples from the normal distribution, with mean .8 and standard deviation 1. Print the data frame to have a look if it worked.
3. Select the values of the `response_times` column that are negative and set them to 0. Print the data frame to have a look if it worked.
4. Create a new column, called `log_response_times`, made of the logarithm of `response_times`.
5. Add a column called `correct_response` made of 20 samples from the binomial distribution, with size 1 and probability of success .65. Print the data frame to have a look if it worked.
6. Calculate the mean proportion of correct responses and the mean response time.
7. Create two data frames, `data_correct` and `data_incorrect` made of, respectively, the subset of `my_data` where `correct_response` is 1, and the subset of `my_data` where `correct_response` is 0. Print the data frame to have a look if it worked. Print the result to check.

In [24]:
# task B1
my_data = data.frame(participants, conditions, participants_cond)
my_data

   participants conditions participants_cond
1   1           a          1_a
2   2           b          2_b
3   3           a          3_a
4   4           b          4_b
5   5           NA         NA
6   6           b          6_b
7   7           a          7_a
8   8           b          8_b
9   9           a          9_a
10 10           b          10_b
11 11           a          11_a
12 12           b          12_b
13 13           a          13_a
14 14           b          14_b
15 15           a          15_a
16 16           b          16_b
17 17           a          17_a
18 18           b          18_b
19 19           a          19_a
20 20           b          20_b

In [25]:
# task B2
my_data$response_times = rnorm(n=20, mean=.8, sd=1)
my_data

   participants conditions participants_cond response_times
1   1           a          1_a               -0.02474744
2   2           b          2_b                1.17366835
3   3           a          3_a                1.26395594
4   4           b          4_b               -1.78807902
5   5           NA         NA                 1.50228285
6   6           b          6_b                2.18804087
7   7           a          7_a               -1.08389103
8   8           b          8_b                0.50326167
9   9           a          9_a                1.74313738
10 10           b          10_b               0.94632266
11 11           a          11_a               0.63651309
12 12           b          12_b               0.05172019
13 13           a          13_a               4.20767983
14 14           b          14_b               1.55198708
15 15           a          15_a               0.23808941
16 16           b          16_b               0.99098457
17 17           a          17_a               0.02228146
18 18           b          18_b               1.28822151
19 19           a          19_a              -0.06617227
20 20           b          20_b              -0.02167456

In [26]:
# task B3
my_data[my_data$response_times < 0, "response_times"] = 0
my_data

   participants conditions participants_cond response_times
1   1           a          1_a               0.00000000
2   2           b          2_b               1.17366835
3   3           a          3_a               1.26395594
4   4           b          4_b               0.00000000
5   5           NA         NA                1.50228285
6   6           b          6_b               2.18804087
7   7           a          7_a               0.00000000
8   8           b          8_b               0.50326167
9   9           a          9_a               1.74313738
10 10           b          10_b              0.94632266
11 11           a          11_a              0.63651309
12 12           b          12_b              0.05172019
13 13           a          13_a              4.20767983
14 14           b          14_b              1.55198708
15 15           a          15_a              0.23808941
16 16           b          16_b              0.99098457
17 17           a          17_a              0.02228146
18 18           b          18_b              1.28822151
19 19           a          19_a              0.00000000
20 20           b          20_b              0.00000000

In [27]:
# task B4
my_data$log_response_times = log(my_data$response_times)
my_data

   participants conditions participants_cond response_times log_response_times
1   1           a          1_a               0.00000000             -Inf
2   2           b          2_b               1.17366835      0.160134182
3   3           a          3_a               1.26395594      0.234246439
4   4           b          4_b               0.00000000             -Inf
5   5           NA         NA                1.50228285      0.406985851
6   6           b          6_b               2.18804087      0.783006564
7   7           a          7_a               0.00000000             -Inf
8   8           b          8_b               0.50326167     -0.686645022
9   9           a          9_a               1.74313738      0.555686584
10 10           b          10_b              0.94632266     -0.055171694
11 11           a          11_a              0.63651309     -0.451750302
12 12           b          12_b              0.05172019     -2.961906995
13 13           a          13_a              4.20767983      1.436911388
14 14           b          14_b              1.55198708      0.439536096
15 15           a          15_a              0.23808941     -1.435109022
16 16           b          16_b              0.99098457     -0.009056313
17 17           a          17_a              0.02228146     -3.804000142
18 18           b          18_b              1.28822151      0.253262593
19 19           a          19_a              0.00000000             -Inf
20 20           b          20_b              0.00000000             -Inf

In [28]:
# task B5
my_data$correct_response = rbinom(n=20, size=1, prob=.65)
my_data

   participants conditions participants_cond response_times log_response_times
1   1           a          1_a               0.00000000             -Inf
2   2           b          2_b               1.17366835      0.160134182
3   3           a          3_a               1.26395594      0.234246439
4   4           b          4_b               0.00000000             -Inf
5   5           NA         NA                1.50228285      0.406985851
6   6           b          6_b               2.18804087      0.783006564
7   7           a          7_a               0.00000000             -Inf
8   8           b          8_b               0.50326167     -0.686645022
9   9           a          9_a               1.74313738      0.555686584
10 10           b          10_b              0.94632266     -0.055171694
11 11           a          11_a              0.63651309     -0.451750302
12 12           b          12_b              0.05172019     -2.961906995
13 13           a          13_a              4.20767983      1.436911388
14 14           b          14_b              1.55198708      0.439536096
15 15           a          15_a              0.23808941     -1.435109022
16 16           b          16_b              0.99098457     -0.009056313
17 17           a          17_a              0.02228146     -3.804000142
18 18           b          18_b              1.28822151      0.253262593
19 19           a          19_a              0.00000000             -Inf
20 20           b          20_b              0.00000000             -Inf
   correct_response
1  1
2  0
3  1
4  1
5  1
6  0
7  1
8  1
9  1
10 1
11 0
12 1
13 1
14 1
15 0
16 1
17 0
18 1
19 1
20 0

In [29]:
# task B6
mean(my_data$response_times)
mean(my_data$correct_response)

[1] 0.9154073

[1] 0.7

In [30]:
# task B7
data_correct = my_data[my_data$correct_response == 1,]
data_incorrect = my_data[my_data$correct_response == 0,]
data_correct
data_incorrect

   participants conditions participants_cond response_times log_response_times
1   1           a          1_a               0.00000000             -Inf
3   3           a          3_a               1.26395594      0.234246439
4   4           b          4_b               0.00000000             -Inf
5   5           NA         NA                1.50228285      0.406985851
7   7           a          7_a               0.00000000             -Inf
8   8           b          8_b               0.50326167     -0.686645022
9   9           a          9_a               1.74313738      0.555686584
10 10           b          10_b              0.94632266     -0.055171694
12 12           b          12_b              0.05172019     -2.961906995
13 13           a          13_a              4.20767983      1.436911388
14 14           b          14_b              1.55198708      0.439536096
16 16           b          16_b              0.99098457     -0.009056313
18 18           b          18_b              1.28822151      0.253262593
19 19           a          19_a              0.00000000             -Inf
   correct_response
1  1
3  1
4  1
5  1
7  1
8  1
9  1
10 1
12 1
13 1
14 1
16 1
18 1
19 1

   participants conditions participants_cond response_times log_response_times
2   2           b          2_b               1.17366835      0.1601342
6   6           b          6_b               2.18804087      0.7830066
11 11           a          11_a              0.63651309     -0.4517503
15 15           a          15_a              0.23808941     -1.4351090
17 17           a          17_a              0.02228146     -3.8040001
20 20           b          20_b              0.00000000           -Inf
   correct_response
2  0
6  0
11 0
15 0
17 0
20 0