# Importing data

Open RStudio.

Open a new R script in R and **save it as** `wpa_5_LastFirst.R` (where Last and First is your last and first name). 

Careful about: capitalizing, last and first name order, and using `_` instead of `-`.

At the top of your script, write the following (**with appropriate changes**):

In [1]:
# Assignment: WPA 5
# Name: Laura Fontanesi
# Date: 6 April 2021

## 1. Importing data
Up to this point, I gave you the code to load the data in R. 

Say instead you have your own data saved on your computer or somewhere online. How can you analyze this data in R? For that we need to learn how to import it using the tidyverse's [readr](https://readr.tidyverse.org/reference/index.html).

Data can come from different sources, e.g.:
- text files stored locally
- text files from a website

The functions you will use, depend on the specific format the data were written in:

#### Different functions to read tabular data from file:
- `read_delim()` is the principal and more general means of reading tabular data into R

- `read_csv()` sets the default separator to a comma

- `read_csv2()` is its European cousin, using a comma for decimal places and a semicolon as a separator

- `read_tsv()` import tab-delimited files

#### Different functions to read other data formats:
- Excel files: https://readxl.tidyverse.org/reference/read_excel.html

- STATA, SPSS, SAS files: https://haven.tidyverse.org/

## 2. File paths for local files

At this point, you should have a folder on your laptop for our R course, where you stored all your scripts. You should also have a subfolder called `data`. If you do not have this yet, quickly set this up now :)

When you are done, download the content of this folder 'https://www.dropbox.com/sh/j98l42hxdg66zox/AAC-IJnNGRElTGnBmQYNsgWfa?dl=0' in your `data` folder, so that the 5 data files are in your `data` folder.

To load these files in R, we need to write the path to your data folder. We can do this using code completion (Tab key): 
- On Mac, you can start from `read_delim('~/')` (or similar functions for loading data) and press Tab, to start navigating from your home folder
- On Windows, you can do the same, but starting from `read_delim('C:\Users\')`

In my case, this folder was on Dropbox:

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.0     ✔ dplyr   1.0.4
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [5]:
data_a = read_delim('~/Dropbox/teaching/r-course21/data/data_to_import_a.txt', delim='\t')

── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  index = col_double(),
  participant = col_double(),
  gender = col_character(),
  age = col_double(),
  options = col_character(),
  accuracy = col_double(),
  RT_msec = col_double()
)

In [6]:
head(data_a)

  index participant gender age options accuracy RT_msec
1 1     8           male   18  CD      1        2381
2 2     8           male   18  CD      1        1730
3 3     8           male   18  AB      1        1114
4 4     8           male   18  AC      1         600
5 5     8           male   18  CD      1         683
6 6     8           male   18  AC      0         854

In [6]:
data_b = read_csv('~/Dropbox/teaching/r-course21/data/data_to_import_b.csv')

# same as: data_b = read_delim('~/Dropbox/teaching/r-course21/data/data_to_import_b.csv', delim = ",")

── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  id = col_character(),
  gender = col_double(),
  age = col_double(),
  income = col_double(),
  p1 = col_double(),
  p2 = col_double(),
  p3 = col_double(),
  p4 = col_double(),
  p5 = col_double(),
  p6 = col_double(),
  p7 = col_double(),
  p8 = col_double(),
  p9 = col_double(),
  p10 = col_double(),
  task = col_double(),
  havemore = col_double(),
  haveless = col_double(),
  pcmore = col_double()
)

In [7]:
head(data_b)

  id                gender age income p1 p2 p3 p4 p5 p6 p7 p8 p9 p10 task
1 R_3PtNn51LmSFdLNM 2      26  7      1  1  1  1  1  1  1  1  1  1   0
2 R_2AXrrg62pgFgtMV 2      32  4      1  1  1  1  1  1  1  1  1  1   0
3 R_cwEOX3HgnMeVQHL 1      25  2      0  1  1  1  1  1  1  1  0  0   0
4 R_d59iPwL4W6BH8qx 1      33  5      1  1  1  1  1  1  1  1  1  1   0
5 R_1f3K2HrGzFGNelZ 1      24  1      1  1  0  1  1  1  1  1  1  1   1
6 R_3oN5ijzTfoMy4ca 1      22  2      1  1  0  0  1  1  1  1  0  1   0
  havemore haveless pcmore
1 NA       50       50
2 NA       25       75
3 NA       10       90
4 NA       50       50
5 99       NA       99
6 NA       20       80

In [10]:
data_c = read_csv2('~/Dropbox/teaching/r-course21/data/data_to_import_c.csv')

ℹ Using ',' as decimal and '.' as grouping mark. Use `read_delim()` for more control.


── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  .default = col_character(),
  age = col_double(),
  Medu = col_double(),
  Fedu = col_double(),
  traveltime = col_double(),
  studytime = col_double(),
  failures = col_double(),
  famrel = col_double(),
  freetime = col_double(),
  goout = col_double(),
  Dalc = col_double(),
  Walc = col_double(),
  health = col_double(),
  absences = col_double(),
  G1 = col_double(),
  G2 = col_double(),
  G3 = col_double()
)
ℹ Use `spec()` for the full column specifications.

In [11]:
head(data_c)

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1 GP     F   18  U       GT3     A       4    4    at_home  teacher  ⋯ 4
2 GP     F   17  U       GT3     T       1    1    at_home  other    ⋯ 5
3 GP     F   15  U       LE3     T       1    1    at_home  other    ⋯ 4
4 GP     F   15  U       GT3     T       4    2    health   services ⋯ 3
5 GP     F   16  U       GT3     T       3    3    other    other    ⋯ 4
6 GP     M   16  U       LE3     T       4    3    services other    ⋯ 5
  freetime goout Dalc Walc health absences G1 G2 G3
1 3        4     1    1    3      4         0 11 11
2 3        3     1    1    3      2         9 11 11
3 3        2     2    3    3      6        12 13 12
4 2        2     1    1    5      0        14 14 14
5 3        2     1    2    5      0        11 13 13
6 4        2     1    2    5      6        12 12 13

In [13]:
library(readxl)

# maybe try first: install.packages("readxl")

In [14]:
data_d = read_excel('~/Dropbox/teaching/r-course21/data/data_to_import_d.xls')

In [15]:
head(data_d)

  Year Average population Live births Deaths Natural change
1 1900 3,300,000          94,316      63,606 30,710
2 1901 3,341,000          97,028      60,018 37,010
3 1902 3,384,000          96,480      57,702 38,778
4 1903 3,428,000          93,824      59,626 34,198
5 1904 3,472,000          94,867      60,857 34,010
6 1905 3,516,000          94,653      61,800 32,853
  Crude birth rate (per 1000) Crude death rate (per 1000)
1 28.6                        19.3
2 29.0                        18.0
3 28.5                        17.1
4 27.4                        17.4
5 27.3                        17.5
6 26.9                        17.6
  Natural change (per 1000) Total fertility rates
1  9.3                      3.83
2 11.1                      3.89
3 11.5                      3.82
4 10.0                      3.67
5  9.8                      3.66
6  9.3                      3.60

In [17]:
library(haven)

# maybe first: install.packages("haven")

In [18]:
data_e = read_sav('~/Dropbox/teaching/r-course21/data/data_to_import_e.sav')

In [19]:
head(data_e)

  case_ID wave year weight_wave weight_aggregate happening cause_original
1 2       1    1    0.54        0.2939263        3         1
2 3       1    1    0.85        0.4626617        2         1
3 5       1    1    0.49        0.2667109        2         2
4 6       1    1    0.29        0.1578493        3         2
5 7       1    1    1.29        0.7021572        3         1
6 8       1    1    2.56        1.3934283        2         2
  cause_other_text cause_recoded sci_consensus ⋯ employment house_head
1                  6             4             ⋯ 5          1
2                  6             1             ⋯ 6          2
3                  4             2             ⋯ 4          2
4                  4             4             ⋯ 5          2
5                  6             2             ⋯ 1          2
6                  4             2             ⋯ 2          2
  house_size house_ages0to1 house_ages2to5 house_ages6to12 house_ages13to17
1 3          0              0              0               0
2 2          0              0              0               0
3 2          0              0              0               0
4 2          0              0              0               0
5 2          0              0              0               0
6 3          0              0              1               0
  house_ages18plus house_type house_own
1 3                1          1
2 2                4          2
3 2                1          1
4 2                1          1
5 2                1          1
6 2                2          1

## 3. File on a website: load and save

In [20]:
data_transactions = read_csv("http://samplecsvs.s3.amazonaws.com/Sacramentorealestatetransactions.csv")

head(data_transactions)

ERROR: Error in open.connection(con, "rb"): HTTP error 404.

In [32]:
# save it to file
write_csv(data_transactions, path = "~/Dropbox/teaching/r-course21/data/Sacramentorealestatetransactions.csv")

In [17]:
# load it again
data_transactions = read_csv("~/Dropbox/teaching/r-course21/data/Sacramentorealestatetransactions.csv")

head(data_transactions)

Parsed with column specification:
cols(
  street = col_character(),
  city = col_character(),
  zip = col_double(),
  state = col_character(),
  beds = col_double(),
  baths = col_double(),
  sq__ft = col_double(),
  type = col_character(),
  sale_date = col_character(),
  price = col_double(),
  latitude = col_double(),
  longitude = col_double()
)

  street             city       zip   state beds baths sq__ft type
1 3526 HIGH ST       SACRAMENTO 95838 CA    2    1      836   Residential
2 51 OMAHA CT        SACRAMENTO 95823 CA    3    1     1167   Residential
3 2796 BRANCH ST     SACRAMENTO 95815 CA    2    1      796   Residential
4 2805 JANETTE WAY   SACRAMENTO 95815 CA    2    1      852   Residential
5 6001 MCMAHON DR    SACRAMENTO 95824 CA    2    1      797   Residential
6 5828 PEPPERMILL CT SACRAMENTO 95841 CA    3    1     1122   Condo
  sale_date                    price latitude longitude
1 Wed May 21 00:00:00 EDT 2008 59222 38.63191 -121.4349
2 Wed May 21 00:00:00 EDT 2008 68212 38.47890 -121.4310
3 Wed May 21 00:00:00 EDT 2008 68880 38.61830 -121.4438
4 Wed May 21 00:00:00 EDT 2008 69307 38.61684 -121.4391
5 Wed May 21 00:00:00 EDT 2008 81900 38.51947 -121.4358
6 Wed May 21 00:00:00 EDT 2008 89921 38.66260 -121.3278

## 4. Get raw files from GitHub

Go on the `data` folder where I loaded all past dataset on GitHub: https://github.com/laurafontanesi/r-seminar/tree/master/data.

Click on `tdcs.csv`.

To be able to load these data in R, we first need to get to the raw data.

You can get them by clickin on `View raw`. **Note** that for some files, instead of getting to the raw data page, you can directly dowload them to a local directory. From there, you can simply load them in R using the appropriate `read_` function.

Copy the adress of the page containing the raw data. It should be https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/tdcs.csv

You can use now this url with one of our `read_` functions:

In [21]:
data_tdcs = read_csv("https://raw.githubusercontent.com/laurafontanesi/r-seminar/main/data/tdcs.csv")

head(data_tdcs)

── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  RT = col_double(),
  acc_spd = col_character(),
  accuracy = col_double(),
  angle = col_double(),
  block = col_double(),
  coherence = col_double(),
  dataset = col_character(),
  id = col_character(),
  left_right = col_double(),
  subj_idx = col_double(),
  tdcs = col_character(),
  trial_NR = col_double()
)

  RT   acc_spd accuracy angle block coherence dataset  id   left_right subj_idx
1  799 spd     1        180   1     0.4171    berkeley S1.1 2          1
2  613 spd     1        180   1     0.4171    berkeley S1.1 2          1
3  627 spd     1        180   1     0.4171    berkeley S1.1 1          1
4 1280 acc     0        180   1     0.4171    berkeley S1.1 1          1
5  800 spd     1        180   1     0.4171    berkeley S1.1 2          1
6  760 acc     1        180   1     0.4171    berkeley S1.1 2          1
  tdcs trial_NR
1 sham 1
2 sham 2
3 sham 3
4 sham 4
5 sham 5
6 sham 6

## 5. Now it's your turn

**Task A**

From our Github page, get the data sets in the list below. Load them in R giving the respective names: `qualtrics_data`, `data_f`, `data_g`, `data_h`. Inspect them using `head()` or `glimpse()`. Finally, save them to your local `data` directory (that you should have as a sub-directory in your R course directory) as `csv` files.

1. 20180321_qualtrics_managers_historical_social_comparisons.dta
2. data_to_import_f.csv
3. data_to_import_g.csv
4. data_to_import_h.csv


**Task B**

Go to this website: https://www.britishelectionstudy.com/data-objects/cross-sectional-data/ (you can register for free).

Download the 2017 Face-to-face Post-election Survey Version 1.5 **SPSS file** in your local `data` directory (see above). Then, load it in R assigning it to the name `british_cross_sectional_data` using the appropriate function for SPSS files and inspect it using `head()` or `glimpse()`.

## Submit your assignment

Save and email your script to me at [laura.fontanesi@unibas.ch](mailto:laura.fontanesi@unibas.ch) by the end of **Friday**.